body {
    background-color: #ECEBE4;
}


.product {
    text-align: center;
    border: solid 1px;
    background-color: #ffffff;
    border-radius: 30px;
    width: 16em;
}

.containerMayor {
    background-color: #5EA3D4;
    margin: 0 auto;
    width: 60%;
    border-radius: 20px;
    padding: 30px;
}

.container {
    gap: 10px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titulo {
    text-align: center;

}

button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #66ff66;
    color: ghostwhite;
}

button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

button:hover span {
    color: black;
}

button::before,
button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
    transform: translate3d(100%, 0, 0);
}


.btn-container {
    padding-top: 30px;
    text-align: center;
}

.paginas {
    font-size: 2em;
    color: white;
}

.card {
    background-color: #3b5998;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

.card h2 {
    margin-top: 0px;
}

.card p {
    margin-bottom: 0px;
    font-size: 18px;
}

.card .email {
    font-size: 14px;
}

a{
    position: relative;
    top: 10px;
    padding: 10px;
    background-color: red;
}
a:hover{
    background-color: rgb(162, 32, 32);
}
